.box{
   width: 800px;
    height: 500px;
    margin: 0 auto;
    border: 1px #000000 solid;
}
#box1{
    font-size: 30px;
    font-family: 微软雅黑;
    width: 50px;
    height: 400px;

    margin-top: 0;

    float: right;

}
#box2{
    font-size: 30px;
    font-family: 楷体;
    width: 50px;
    height: 400px;

    margin-top: 0;

    float: right;
}
#box3{
    font-size: 30px;
    font-family: 楷体;
    width: 50px;
    height: 400px;

    margin-top: 0;

    float: right;
}
#box4{
    font-size: 30px;
    font-family: 楷体;
    width: 50px;
    height: 400px;

    margin-top: 0;


    float: right;
}
.picture{
    margin-top: 0;
    margin-left: 100px;
}

